@model IEnumerable<Product>;

@{
    ViewData["Title"] = "Home Page";
}

<a class="btn btn-primary" asp-action="Upsert" role="button">創建</a>
<hr />

<div class="row g-2">
    @foreach (var product in Model)
    {
        <div class="col-12 col-md-6 col-lg-4">
            <a asp-action="Upsert" asp-route-Id="@product.Id">
                <div class="card">
                    <img class="card-img-top" src="@product.ImageUrl">
                    <div class="card-body">
                        <h4 class="card-title">@product.Name</h4>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
